.navbar-brand img {
  width: 150px;
}
.background {
  background-image: url("bg-2.png");
  background-repeat: no-repeat;
  background-position: -2% 70%;
  height: 700px;
}
.buynow {
  font-size: large;
  color: aliceblue;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.car-bg {
  background-image: url("bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.buynow:hover {
  box-shadow: 5px 5px 10px gray;
}
.carousel-control-next {
  justify-content: end;
  width: 70px;
}
.carousel-control-prev {
  justify-content: start;
  width: 70px;
}
.carousel-indicators {
  align-items: center;
  background-color: orange;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  margin-left: 45.76%;
  margin-bottom: 0%;
}
.seeall:link,
.seeall:visited {
  color: orange;
  text-decoration: none;
}
.card {
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}
.card img {
  padding-top: 10%;
  width: fit-content;
}
.card-footer {
  background-color: white;
  border: none;
}
.con {
  margin-bottom: 100px;
}
.con1 {
  margin-bottom: 50px;
}
.cat {
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: underline solid orange 20%;
  margin-bottom: 80px;
}
.cate {
  justify-content: center;
  text-align: center;
}
.col-md-3 img {
  margin-top: 10%;
  width: 50%;
  margin-bottom: 10%;
}
.col-md-3 img:hover {
  width: 60%;
  transition-duration: 1s;
}
.shad1 {
  padding-top: 20px;
  box-shadow: 3px 3px 20px rgb(200, 200, 200);
  height: 270px;
  width: 270px;
  margin-right: 2%;
  border-radius: 30px 0px 30px 0px;
}
.shad2 {
  padding-top: 20px;
  box-shadow: 3px 3px 20px rgb(200, 200, 200);
  height: 270px;
  width: 270px;
  margin-bottom: 15%;
  border-radius: 0px 30px 0px 30px;
}
.shad3 img {
  margin-top: 0%;
  width: 110%;
}
